<style>
#infobtn{
    background-color: #311B92;
    border-color: #673AB7;
    text-align: center;
    height: 45px;
    color: white;
    display: block;
}
#infobtn:hover{
    color: #BDBDBD;
}
</style>
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Dashboard</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Overview</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="https://github.com/open-firebase/open-firebase/wiki">Documentation</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                    <ul class="dropdown-menu"> 
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="jumbotron" style="background-color: #2962FF; color: white; margin-bottom: 0px; padding-bottom: 2%;">
    <div class="row">
        <div class="col-md-12 col-xs-12" style="text-align: center; margin-top: 3%;">
            <h2>Welcome to OpenFirebase</h2>
            <p>Your account has been successfully created!<br>
            Take a look at these resources to help you get started.</p>
            <ul class="list-inline" style="margin-top: 3%;">
                <li><a id="infobtn" class="btn btn-lg">Tutorials</a></li>
                <li><a id="infobtn" class="btn btn-lg">Quickstart</a></li>
                <li><a id="infobtn" class="btn btn-lg">Examples</a></li>
                <li><a id="infobtn" class="btn btn-lg">API Docs</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2" style="margin-top: 50px; margin-left: 30px;">
        <div class="panel panel-default" style="padding: 10px; width: 300px;">
            <div class="panel-body">
                <form role="form">
                    <div class="form-group" style="margin-top: 20px;">
                        <label>APP NAME</label>
                        <input class="form-control" style="height: 40px; width: 250px;">
                    </div>
                    <div class="form-group">
                        <label>APP URL</label>
                        <input class="form-control"  style="height: 40px; width: 250px;">
                    </div>
                    <button class="btn btn-primary btn-block" style="margin-top: 50px; height: 40px; width: 250px;">CREATE NEW APP</button>
                </form>
            </div>
        </div>
    </div>
</div>
<%- partial ('footer.ejs') %>
