<div class="container">

	<div class="row">
		<div class="col-md-4 col-md-offset-4" style="margin-top: 15%;">
			<h3 style="text-align: center;">Sign In to OpenFirebase</h3>
			<div class="panel panel-default">
			  	<div class="panel-body">
			   		<form role="form">
			  		  <div class="form-group">
					      <label for="exampleInputEmail1">Username or Email</label>
					      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" style="height: 40px;">
					  </div>
					  <div class="form-group">
					      <label for="exampleInputPassword1">Password <a href="#">  (forgot password?)</a></label>
					      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" style="height: 40px;">
					  </div>
					  <button type="submit" class="btn btn-success btn-block" style="height: 40px;">Sign in</button>
					</form>
			    </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-body" style="background-color: #F5F5F5; text-align: center;">
					New to OpenFirebase? <a href="/signup">Create an Account.</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
// $("#loginform").submit( function( event ){
// 	event.preventDefault();
// 	var email = $("#email").val();
// 	var pwd = $("#pwd").val();
// 	console.log("Email: " + email + ", Pwd: " + password);
// 	var posting = $.post( url, { s: term } );
 
// 	var url = "/auth/local";
// 	var posting = $.post(url, {identifies: email, password: pwd});

// 	// Put the results in a div
// 	posting.done(function( data ) {
// 		var content = $( data ).find( "#content" );
// 	    $( "#result" ).empty().append( content );
// 	});
// });
</script>