<div class="jumbotron" style="margin-bottom: 0px;">
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<form role="form" action="/auth/local" method='post' id="loginform" style="background-color: white; margin: 200px 125px; padding: 25px;">
				<div class="form-group">
				    <label for="identifier">Email address:</label>
				    <input type="identifier" name="identifier" class="form-control" id="identifier">
			  	</div>
			  	<div class="form-group">
				    <label for="password">Password:</label>
				    <input type="password" name="password" class="form-control" id="password">
			  	</div>
<!-- 			  	<div class="checkbox">
			    	<label><input type="checkbox"> Remember me</label>
			  	</div> -->
			  	<button type="submit" class="btn btn-block btn-info">Submit</button>
			</form>
		</div>
	</div>
</div>
<div id="result"></div>
<%- partial ('footer.ejs') %>
// <script>
// $("#loginform").submit( function( event ){
// 	event.preventDefault();
// 	var email = $("#email").val();
// 	var pwd = $("#pwd").val();
// 	console.log("Email: " + email + ", Pwd: " + password);
// 	var posting = $.post( url, { s: term } );
 
// 	var url = "/auth/local";
// 	var posting = $.post(url, {identifies: email, password: pwd});

// 	// Put the results in a div
// 	posting.done(function( data ) {
// 		var content = $( data ).find( "#content" );
// 	    $( "#result" ).empty().append( content );
// 	});
// });
// </script>