<div class="container">

	<div class="row">
		<div class="col-md-4 col-md-offset-4" style="margin-top: 13%;">
			<h3 style="text-align: center; margin-bottom: 30px;">Sign in to OpenFirebase</h3>
			<div class="panel panel-default">
			  	<div class="panel-body">
			   		<form role="form" id="loginform">
			  		  <div class="form-group">
					      <label for="email">Username or Email</label>
					      <input type="email" class="form-control" id="email" placeholder="Enter email" style="height: 40px;">
					  </div>
					  <div class="form-group">
					      <label for="password">Password <a href="#">  (forgot password?)</a></label>
					      <input type="password" class="form-control" id="password" placeholder="Password" style="height: 40px;">
					  </div>
					  <button type="submit" class="btn btn-success btn-block" style="height: 40px;">Sign in</button>
					</form>
			    </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-body" style="background-color: #F5F5F5; text-align: center;">
					New to OpenFirebase? <a href="/signup">Create an Account.</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$("#loginform").submit( function( event ){
	event.preventDefault();
	var email = $("#email").val();
	var pwd = $("#password").val();
	console.log("Email: " + email + ", Pwd: " + password);
	//var posting = $.post( url, { s: term } );
 
	var url = "/auth/local";
	console.log()
	//posting
	$.ajax({
		method: "POST",
		url: "/auth/local",
		data: {identifier: email, password: pwd},
	}).done(function(msg){
		console.log(msg);
		if(msg["email"] == email || msg["username"] == email){
			console.log("Redirecting");
			window.location.href="/dashboard";
		}
	});
	// $.post(url, {identifier: email, password: pwd}, function(data, status){
	// 	console.log(status);
	// 	console.log(data);
 //    });
	// // Put the results in a div
	// posting.done(function( data ) {
	// 	var content = $( data ).find( "#content" );
	//     $( "#result" ).empty().append( content );
	// });
});
</script>