<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4" style="margin-top: 15%;">
			<h3 style="text-align: center;">Sign Up for OpenFirebase</h3>
			<div class="panel panel-default">
			  	<div class="panel-body">
			   		<form role="form">
                        <div class="form-group">
                        	<label for="username">Username</label>
                            <input type="username" name="username" class="form-control" placeholder="Pick a Username" style="height: 40px; margin-bottom: 5px;"/>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Your Email" style="height: 40px; margin-bottom: 5px;"/>
                        </div>
                        <div class="form-group"`>
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Create a password" style="height: 40px; margin-bottom: 5px;"/>
                        </div>
                        <button id="signup" class="btn btn-block btn-success" style="height: 40px;">Sign up for Open Firebase</button>
                       
                    </form>
			    </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-body" style="background-color: #F5F5F5; text-align: center;">
					Already have an Account? <a href="/signin">Sign In.</a>
				</div>
			</div>
		</div>
	</div>
</div>